BASE_URL=coloque-o-servidor-da-api-com-a-porta
ADMIN_EMAIL=coloque-o-email-do-admin
ADMIN_SENHA=coloque-a-senha-do-admin
MONGODB_URI=coloque-a-url-da-aplicação-mongodb
JWT_SECRET=coloque-o-secret-gerado